.App {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 2px 2px 20px 5px black;
  align-self: flex-start;
}

.field {
  width: 80px;
  height: 80px;
  background-color: black;
  border: 2px solid rgb(0, 255, 0);
  cursor: pointer;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field:hover {
  background-color: rgb(0, 255, 0);
}

.winningField {
  color: red;
}

.btnTableContainer {
  display: flex;
  justify-content: space-around;
  column-gap: 2em;
  align-items: center;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
}

.buttonTime {
  padding: 0.15em 1em;
  cursor: pointer;
  border: none;
  background-color: orange;
  border: 2px solid #333;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.2s ease;
  font-family: monospace, sans-serif;
}

.buttonTime:hover {
  transform: scale(1.1);
}

.logo-image {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.message {
  font-family: monospace, sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 450px) {
  .btnTableContainer {
    flex-direction: column;
    max-width: 90%;
    row-gap: 2em;
    margin-bottom: 2em;
  }
}
